
body{
   

    background-color:powderblue;
    background-image: url('');
    background-size: auto;
    background-position: center;
    background-size: 100%;

    font-family: Verdana, sans-serif;

   
}

table,th,td {background-color: lightblue; 
    border: 2px dotted blue;}

a {text-decoration: none;}
/*H----------------------------------------------------------------------*/
h1 {
    color: blue; 
    font-size:3em; 
    text-align: center; 
    background-color: yellow; 

    font-family: 'Times New Roman', Times, serif;

    font-weight: bold;


} 

h2 {
    color:#ffffff; 
    font-size:15px; 
    text-align: center; 
    font-family: Arial;
    
    background-color: rgb(0, 0, 0); 
} 

h3 {
    color:blue; 
    font-size:20px; 
    text-align: center; 
    font-family: Verdana;
    
    background-color: orange; 
} 

/*PARRAFOS-----------------------------------------------------------*/
/*ITALIC*/
.anuncio {font-style: italic;}


p{
    color: navy; 
    font-size: 12pt; 
    text-align: justify; 
    font-family: Verdana, sans-serif;
  

}

/*VARIOS ESTILOS APLICADOS A DIFERENTES OBJETOS, VER LOS ESTILOS
p,h3,#retrato,.p-border-radius{text-align: justify; font-weight: bolder; border: 2px dotted blue }*/


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#retrato {
    border:2px solid blue;
    width: 200px; height: 230px;
    border-radius: 10px;
}

.importante {
    
    color: yellow; 
    background-color: red;
  }
  
  .titulo-grande {

    font-weight: bold; /*negrita*/
    font-size: 18pt; font-style: italic; 
    color: green; 
    text-align: center;
  }
/* ======================================== */


